header {
  width: 100vw;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-top: 3px;

  display: flex;
  align-items: center;

  position: fixed;
  z-index: 2;

  backdrop-filter: blur(8px);
}
.header-inner {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-inner .logo h2 {
  width: 240px;
  font-size: 24px;
  font-weight: 300;
  color: var(--main-color);

  animation: slideup 2s linear;
  animation-fill-mode: both;
}
.header-inner .logo {
  transition: 0.5s;
}
.header-inner .logo:hover {
  letter-spacing: 3px;
}
.work-btn {
  border: 1px solid var(--main-color);
  border-radius: 20px;
  padding: 3px 10px;
  transition: 0.5s;

  animation: slideup 2s 0.3s linear;
  animation-fill-mode: both;
}
.work-btn span {
  color: var(--main-color);
  font-size: 20px;
  transition: 0.5s;
}
.work-btn span::before {
  content: '\F77A';
  font-family: bootstrap-icons;
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 6px;
  color: rgb(21, 232, 116);
  transform: translateY(4px);
}
.work-btn:hover{
  background-color: var(--main-color);
  animation: navi 1s both;
}
.work-btn:hover span {
  color: #fff;
  font-weight: 200;
}
.nav {
  animation: slideup 2s 0.6s linear;
  animation-fill-mode: both;
}
.nav a {
  font-size: 20px;
  margin-left: 20px;
  color: var(--main-color);
  transition: 0.5s;
}
.nav a:hover {
  letter-spacing: 5px;
}
.a-style {
  text-decoration: line-through;
}

@keyframes navi {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}